.homepage {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.homepage::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}


.logo {
  color: black;
  font-size: 1.5rem; 
  font-weight: bold;
}

.quote {
  position: relative;
  z-index: 1;
  height: calc(100vh - 5rem); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote h2 {
  color: rgb(153, 0, 0);
  font-size: 5rem; 
  font-family:serif;
  margin-bottom: 1.5rem; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.875rem; 
  width: 16.25rem; 
}

.button {
  font-size: 1rem;
  width: 10rem; 
  display: inline-block; 
  padding: 10px 20px; 
  border-radius: 0.5rem; 
  border: none;
  cursor: pointer;
  background-color: rgb(153, 0, 0);
  color: white;
}

.button:hover {
  background-color: rgb(120, 0, 0);
}
