.navbar {
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  display: flex;
  gap: 0.75rem; 
}

.nav-buttons-1 {
  padding: 0.5rem 1rem; 
  font-size: 0.875rem; 
}